<html layout:decorate="~{layout}">
    <div class="container" style="max-width:1200px;" layout:fragment="content" sec:authorize="hasRole('ADMIN')">
        <div class="d-flex justify-content-end mb-4">
            <form style="width:600px;">
                <div class="input-group">
                    <input class="form-control border-dark" type="text" placeholder="검색어">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <table class="table">
            <thead class="table-light">
                <tr class="text-center">
                    <th class="fs-6">번호</th>
                    <th>아이디</th>
                    <th>비밀번호</th>
                    <th>이메일</th>
                    <th>권한</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="text-center" th:each="siteUser : ${siteUserList}">
                    <td th:text="${siteUser.id}"></td>
                    <td th:text="${siteUser.username}"></td>
                    <td th:text="${siteUser.password}"></td>
                    <td th:text="${siteUser.email}"></td>
                    <td th:text="${siteUser.role}"></td>
                    <td><a class="btn btn-link p-0" th:href="@{|/admin/users/modify/${siteUser.id}|}"><i class="bi bi-gear-fill"></i></a></td>
                </tr>
            </tbody>
        </table>

        <div th:replace="page"></div>
    </div>
</html>