<html layout:decorate="~{layout/layout}">
    <div class="container" style="max-width:1200px;" layout:fragment="content" sec:authorize="hasRole('ADMIN')">
        <div class="d-flex justify-content-end mb-4">
            <form style="width:600px;" method="GET">
                <div class="input-group">
                    <input class="form-control border-dark" th:value="${param.kw}" name="kw" type="text" placeholder="검색어" >
                    <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>

        <table class="table mb-4">
            <thead class="table-light">
                <tr class="text-center">
                    <th class="fs-6">번호</th>
                    <th>아이디</th>
                    <th>비밀번호</th>
                    <th>이메일</th>
                    <th>권한</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="text-center align-middle" th:each="siteUser : ${pagedUsers.content}">
                    <td th:text="${siteUser.id}"></td>
                    <td th:text="${siteUser.username}"></td>
                    <td th:text="${siteUser.password}"></td>
                    <td th:text="${siteUser.email}"></td>
                    <td th:text="${siteUser.role}"></td>
                    <td><a class="btn btn-link p-0" th:href="@{|/admin/users/modify/${siteUser.id}|}"><i class="bi bi-gear-fill"></i></a></td>
                </tr>
            </tbody>
        </table>

        <nav th:if="${!pagedUsers.isEmpty}" th:with="queryStrBase = 'users?kw=' + ${param.kw != null ? param.kw : ''}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${pagedUsers.hasPrevious()}">
                    <a class="page-link px-2" th:href="@{|${queryStrBase}&page=0|}">&laquo;</a>
                </li>
                <li class="page-item" th:each="page : ${#numbers.sequence(0, pagedUsers.totalPages - 1)}"
                    th:if="${page > pagedUsers.number - 3 and page < pagedUsers.number + 3}" th:classappend="${page == pagedUsers.number} ? 'active'">
                    <a class="page-link" th:text="${page + 1}" th:href="@{|${queryStrBase}&page=${page}|}"></a>
                </li>
                <li class="page-item" th:if="${pagedUsers.hasNext()}">
                    <a class="page-link px-2" th:href="@{|${queryStrBase}&page=${pagedUsers.totalPages - 1}|}">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</html>