@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: 'GmarketSansMedium';
  text-underline-position: under;
}

.popover-body {
  font-family: 'GmarketSansMedium';
  text-underline-position: under;
  color: blue !important;
}

.pagination a {
  color: gray;
}

.page-link:hover {
  color: black !important;
}

.pagination .page-item.active .page-link {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
}