<html layout:decorate="~{common/layout}">
    <div class="container mb-5" style="max-width:1200px;" layout:fragment="content">
        <div class="card">
            <section class="p-4 bg-light rounded-top">
                <div class="card-body pb-0">
                    <h3 class="card-title fw-semibold" th:text="${post.title}"></h3>
                </div>

                <div class="card-body mx-3 pb-3 row">
                    <div class="col-6">
                        <div class="mb-3">
                            <span class="bg-secondary text-white p-1 me-1 rounded">작성자</span>
                            <span class="fs-6 text-secondary" th:text="${post.author == null ? 'deleted_user' : post.author.username}"></span>
                        </div>

                        <div>
                            <span class="bg-secondary text-white p-1 me-1 rounded">조회수</span>
                            <span class="fs-6 text-secondary" th:text="${post.hitCount}"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="mb-3">
                            <span class="bg-secondary text-white p-1 me-1 rounded">작성날짜</span>
                            <span class="fs-6 text-secondary" th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>

                        <div>
                            <span class="bg-secondary text-white p-1 me-1 rounded">수정날짜</span>
                            <span class="fs-6 text-secondary" th:text="${#temporals.format(post.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-4" style="margin-top:1rem;">
                <div class="card-body mx-3 py-0">
                    <div class="" th:utext="${post.content}"></div>
                </div>
            </section>

            <section class="p-4 px-2 bg-light rounded-bottom d-flex">
                <div class="card-body d-flex align-items-center gap-3 mx-3 py-1">
                    <div>
                        <a href="#"><span class="fs-5"><i class="bi bi-chat text-primary icon-align" id="icon_answer"></i></span></a>
                        <span class="fs-6" th:text="${post.answerCount}"></span>
                    </div>

                    <div>
                        <a href="#"><span class="fs-5"><i class="bi bi-hand-thumbs-up text-success icon-align" id="icon_like"></i></span></a>
                        <span class="fs-6" th:text="0"></span>
                    </div>

                    <div>
                        <a href="#"><span class="fs-5"><i class="bi bi-hand-thumbs-down text-danger icon-align" id="icon_dislike"></i></span></a>
                        <span class="fs-6" th:text="0"></span>
                    </div>
                </div>

                <div class="card-body d-flex align-items-center justify-content-end gap-3 mx-3 py-1" th:if="${loginUser} == ${post.author.username}">
                    <a class="btn btn-outline-dark" style="width:100px;" th:href="@{|/post/modify/${post.id}|}">수정</a>
                    <div class="btn btn-outline-dark" style="width:100px;" data-bs-toggle="modal" data-bs-target="#modal_deletePost">삭제</div>
                </div>

                <form id="form_deletePost" th:action="@{|/post/delete/${post.id}|}" method="POST"></form>
            </section>
        </div>

        <form class="card mt-3" th:action="@{|/post/${post.id}/answer/write|}" method="POST">
            <div class="d-flex align-items-center p-3 rounded">
                <textarea class="w-100" name="content" style="resize:none;" placeholder="댓글을 입력하세요." maxlength="500" oninput="autoResize(this)"></textarea>

                <button class="btn btn-outline-dark" style="width:75px;">작성</button>
            </div>
        </form>

        <div class="card mt-3" th:each="answer : ${post.answers}">
            <div class="p-3" th:id="|answer_${answer.id}|" th:if="${loginUser != answer.author.username}">
                <section class="d-flex align-items-center justify-content-between mb-3">
                    <div class="fw-bolder" th:text="${answer.author.username}"></div>
                    <div class="fs-6 text-secondary" th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </section>

                <section class="mx-3">
                    <div th:text="${answer.content}"></div>
                </section>
            </div>

            <div class="bg-light p-3" th:id="|answer_${answer.id}|" th:if="${loginUser == answer.author.username}">
                <section class="d-flex align-items-center justify-content-between mb-3">
                    <div class="fw-bolder" th:text="${answer.author.username}"></div>

                    <div class="dropdown dropstart">
                        <div type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></div>

                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item">수정</button></li>
                            <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal_deleteAnswer">삭제</button></li>
                        </ul>

                        <form id="form_deleteAnswer" th:action="@{|/post/${post.id}/answer/delete/${answer.id}|}" method="POST"></form>
                    </div>
                </section>

                <section class="mx-3 mb-3">
                    <div th:text="${answer.content}"></div>
                </section>

                <section>
                    <div class="fs-6 text-secondary" th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </section>
            </div>
        </div>

        <div class="modal fade" id="modal_deletePost" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalLabel_deletePost">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel_deletePost">게시글 삭제</h1>
                        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        이 게시글을 정말 삭제하시겠습니까?<br>삭제한 후에는 다시 복구할 수 없습니다.
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">취소</button>
                        <button class="btn btn-danger" type="button" onclick="$('#form_deletePost').submit();">삭제</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_deleteAnswer" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modalLabel_deleteAnswer">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel_deleteAnswer">댓글 삭제</h1>
                        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        이 댓글을 정말 삭제하시겠습니까?<br>삭제한 후에는 다시 복구할 수 없습니다.
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">취소</button>
                        <button class="btn btn-danger" type="button" onclick="$('#form_deleteAnswer').submit();">삭제</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/detail.js"></script>
    </div>
</html>