<html layout:decorate="~{layout/layout}">
    <div class="container" style="max-width:1200px;" layout:fragment="content">
        <div class="row mx-3 mb-4">
            <div class="col-1"></div>

            <div class="col-2">
                <select class="form-select border-dark ">
                    <option value="idDesc" selected>최신순</option>
                    <option value="hitCountDesc">조회순</option>
                </select>
            </div>

            <div class="col-6">
                <form class="d-flex justify-content-end" method="GET" >
                    <div class="input-group">
                        <input class="form-control border-dark" th:value="${param.kw}" name="kw" type="text" placeholder="검색어" >
                        <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </form>
            </div>

            <div class="col-2">
                <a class="btn btn-outline-dark" href="/post/write">게시글작성</a>
            </div>

            <div class="col-1"></div>
        </div>

        <table class="table mb-4">
            <thead class="table-light">
                <tr class="text-center">
                    <th class="fs-6">번호</th>
                    <th class="w-50">제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회</th>
                </tr>
            </thead>

            <tbody>
                <tr class="align-middle" th:each="post : ${pagedPosts.content}">
                    <td class="text-center" th:text="${post.id}"></td>
                    <td th:text="${post.title}"></td>
                    <td class="text-center" th:text="${post.author.username}"></td>
                    <td class="text-center" th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd')}"></td>
                    <td class="text-center" th:text="${post.hitCount}"></td>
                </tr>
            </tbody>
        </table>

        <nav th:if="${!pagedPosts.isEmpty}" th:with="queryStrBase = 'users?kw=' + ${param.kw != null ? param.kw : ''}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${pagedPosts.hasPrevious()}">
                    <a class="page-link px-2" th:href="@{|${queryStrBase}&page=0|}">&laquo;</a>
                </li>
                <li class="page-item" th:each="page : ${#numbers.sequence(0, pagedPosts.totalPages - 1)}"
                    th:if="${page > pagedPosts.number - 3 and page < pagedPosts.number + 3}" th:classappend="${page == pagedPosts.number} ? 'active'">
                    <a class="page-link" th:text="${page + 1}" th:href="@{|${queryStrBase}&page=${page}|}"></a>
                </li>
                <li class="page-item" th:if="${pagedPosts.hasNext()}">
                    <a class="page-link px-2" th:href="@{|${queryStrBase}&page=${pagedPosts.totalPages - 1}|}">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</html>