<html layout:decorate="~{layout/layout}">
    <div class="container" style="width:1200px;" layout:fragment="content">
        <form th:action="@{/post/write}" th:object="${postDto}" method="POST">
            <div th:replace="msg/error"></div>

            <div class="input-group">
                <label class="input-group-text border-bottom-0" style="min-width:100px; border-bottom-left-radius:0; border-bottom-right-radius:0;">제목</label>
                <input class="form-control border-bottom-0" style="border-bottom-left-radius:0; border-bottom-right-radius:0;" th:field="*{title}" placeholder="제목을 입력하세요." type="text">
            </div>

            <textarea id="editor" th:field="*{content}" placeholder="내용을 입력하세요."></textarea>

            <div class="text-center mt-4">
                <button class="btn btn-outline-dark" style="width:100px;" type="submit">작성</button>
            </div>
        </form>

        <script src="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.umd.js" crossorigin></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/44.1.0/translations/ko.umd.js" crossorigin></script>
        <script src="/write.js"></script>
    </div>
</html>