<html layout:decorate="~{layout/layout}">
    <div class="container" style="max-width:750px;" layout:fragment="content">
        <form class="px-5 py-4 border rounded" th:action="@{/user/confirm_password}" th:object="${confirmPasswordDto}" method="POST">
            <div class="text-center mb-4">
                <span class="fw-semibold fs-3">비밀번호 확인</span>
            </div>

            <div th:replace="msg/error"></div>

            <div class="input-group mb-3">
                <label class="input-group-text" style="min-width:150px;">비밀번호</label>
                <input class="form-control" th:field="*{password}" type="password">
            </div>

            <div class="text-center mt-4">
                <button class="btn btn-outline-dark" style="width:100px;" type="submit">확인</button>
            </div>
        </form>
    </div>
</html>