<div class="container" style="max-width:1200px;">
    <nav class="navbar bg-dark navbar-expand-sm rounded" data-bs-theme="dark">
        <div class="d-flex justify-content-between w-100 align-items-center mx-3">
            <ul class="navbar-nav d-flex gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="/">홈</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">로그인</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/user/create">회원가입</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
