<div class="container" style="max-width:1200px;">
    <nav class="navbar bg-dark navbar-expand-sm rounded" data-bs-theme="dark">
        <div class="d-flex justify-content-between w-100 align-items-center mx-3">
            <ul class="navbar-nav d-flex gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="/">홈</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/admin/users">회원관리</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex gap-3" sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">로그인</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/user/create">회원가입</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex gap-3" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;" onclick="$('#postLogout').submit();">로그아웃</a>

                    <form id="postLogout" th:action="@{/user/logout}" method="POST" hidden></form>
                </li>
            </ul>
        </div>
    </nav>
</div>
