<nav th:if="${!pagedUsers.isEmpty}" th:with="queryStrBase = 'users?kw=' + ${param.kw != null ? param.kw : ''}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${pagedUsers.hasPrevious()}">
            <a class="page-link px-2" th:href="@{|${queryStrBase}&page=0|}">&laquo;</a>
        </li>
        <li class="page-item" th:each="page : ${#numbers.sequence(0, pagedUsers.totalPages - 1)}"
            th:if="${page > pagedUsers.number - 3 and page < pagedUsers.number + 3}" th:classappend="${page == pagedUsers.number} ? 'active'">
            <a class="page-link" th:text="${page + 1}" th:href="@{|${queryStrBase}&page=${page}|}"></a>
        </li>
        <li class="page-item" th:if="${pagedUsers.hasNext()}">
            <a class="page-link px-2" th:href="@{|${queryStrBase}&page=${pagedUsers.totalPages - 1}|}">&raquo;</a>
        </li>
    </ul>
</nav>